
body{
    background-color: red;
    display: grid;
}
    ul{
    text-align: center;

    border: 2px dashed black;
    border-style: dashed;
}
li{
    display: inline-block;
    width:50px;
}
#none-display{
    /* it removes the space as well as the text or content: ; */
    /* display: none; */
    /* it shows the space as well as the text or content: ; */
    /* display: block; */


}
#visi-none{
    /* it removes the space as well as the text or content: ; */
    visibility: hidden;
    /* -->oppositie is visible  */
}
.card{

    width: 400px;
    height: 630px;
    border: 1px solid gray;
    /* right bottom blur color ; */
    box-shadow: 5px 5px 6px black;
    margin-left: 20px;
}
img{
    width: 400px;
    height: 450px;

}
button{
    width: 400px;
    border: none;
    background-color: red;
    padding-top: 10px;
}
h2{
    padding-left: 10px;
}
.card-container{
    display: flex;
    height: 1000px;
    justify-content: start;
    border: 2px solid black;
}